{% extends "model-page.html" %}

{% block content %}
    <h2>Históricos</h2>
    <a href="/agenda/">
        <button type="button">Voltar para agenda</button>
    </a>

    <ul style="font-size: 18px">
        {% for evento in eventos %}
            <li>
                <div style="{% if evento.get_evento_atrasado %}
                                color: red;
                            {% elif evento.get_evento_futuro%}
                                color: yellowgreen;
                            {% else %}
                                color: black;
                            {% endif %}">
                    {{ evento.get_data_evento }} - {{ evento.titulo }} - {{ evento.local }} - {{ evento.descricao }}
                    ( <a href="/agenda/clone_evento/?id={{ evento.id }}">Clonar evento</a> )
                </div>
            </li>
        {% endfor %}
    </ul>
    <br>
    <h3>Legenda</h3>
    <ul>
        <li style="font-size: 16px; color: red">Eventos vencidos</li>
        <li style="font-size: 16px;">Eventos do dia</li>
    </ul>
{% endblock %}